# Análise de datos con PANDAS

In [1]:
import pandas as pd

### Apertura do CSV

In [30]:

df = pd.DataFrame()
df= pd.read_csv('datos_covid2021_3paises.csv')
df

      Unnamed: 0         dia    pais  contaxios  mortes
0              0  2021-01-01   Spain      18047     148
1              1  2021-01-02   Spain          0       0
2              2  2021-01-03   Spain          0       0
3              3  2021-01-04   Spain      30579     241
4              4  2021-01-05   Spain      23700     352
...          ...         ...     ...        ...     ...
1090        1090  2021-12-27  France      29614     245
1091        1091  2021-12-28  France     179316     294
1092        1092  2021-12-29  France     202293     173
1093        1093  2021-12-30  France     206243     180
1094        1094  2021-12-31  France     232200     189

[1095 rows x 5 columns]


### Limpia valores nulos e/ou inválidos/vacíos.

In [31]:
df.isna().sum()
df.dropna()
df=df[df['contaxios']!=0]
df.describe()

        Unnamed: 0      contaxios       mortes
count   952.000000     952.000000   952.000000
mean    579.032563   13911.038866   112.340336
std     304.651907   23198.693500   163.028694
min       0.000000     158.000000     0.000000
25%     341.500000    1805.500000    11.000000
50%     587.500000    5614.500000    44.000000
75%     838.250000   19002.000000   147.250000
max    1094.000000  232200.000000  1163.000000

### 1. Calcula a media de novos casos ao día

In [32]:
df['contaxios'].mean()

13911.03886554622

### 2. Calcula a media de mortes ao día

In [33]:
df['mortes'].mean()

112.34033613445378

### 3. Calcula o número máximo de casos

In [34]:
df['contaxios'].max()

232200

### 4. Calcula o número medio de casos separado por grupos

In [35]:
dfcontaxios=df['contaxios'].groupby(df['pais']).mean()
dfcontaxios

pais
France      22486.976119
Portugal     2688.889503
Spain       18575.662745
Name: contaxios, dtype: float64

### 5. Existe unha correlación entre número de novos casos e mortes?

### 6. No caso de que exista unha relación, en que país é maior?

### 7. Cal é a mediana de casos confirmados en Portugal?

In [43]:
dfportugal=df["contaxios"].groupby(df['Pais']=='Portugal')
dfportugal

KeyError: 'Pais'

### 8. Cales son os valores dos percentís Q1 e Q3 de Francia para o número de contaxios

### 9. Cantos valores diferentes hai para o número de contaxios nun día en cada un dos países

### 10. Valor mínimo e máximo de contaxios por día para cada país